@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-image: url('./matrix.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: slategray;
}

a:hover {
  color: green;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.App h1 {
  color: white;
}

.usercard {
  margin-top: 2%;
}

.followersList {
  border: 1px solid slategray;
  border-radius: 5px;
  margin-top: 5%;
}

.followersList h3 {
  color: white;
}

.MuiButton-label:hover {
  color: green;
}
